<h1><%= @account.description %></h1>
<table>
  <tr>
    <th>Total Balance: </th>
    <td><%= @account.balance %></td>
  </tr>
</table>

<%= link_to "New Record", new_account_record_path(@account) %>

<hr>

<table>
  <tr>
    <th>Record</th>
    <th>Amount</th>
    <th>Created At</th>
  </tr>
  <% @account.records.each do |f| %>
    <tr>
      <td><%= f.memo %></td>
      <td><%= f.amount %></td>
      <td><%= f.created_at.strftime("%I:%M %p %m/%d/%Y") %></td>
    </tr>
  <% end %>
  <tr>
    <th>
      <%= form_for([ @account, @account.records.build], method: :post) do |f| %>
      <%= render(partial: 'records/form', locals: {f: f}) %>
      <%= f.submit("Submit") %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>Total: </th>
    <td><%= @account.balance %></td>
  </tr>

</table>
